.card {
  width: 350px;
  box-sizing: border-box;
  padding: 20px;
  border: solid black 1px;
  border-radius: 20px;
  margin: 10px;
}

.card-header {
  text-align: center;
  font-weight: bold;
}

.card-content {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.card-tag {
  background-color: lightblue;
  padding: 10px;
  border-radius: 20px;
}

.card-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content-and-actions {
  display: flex;
  justify-content: space-between;
  height: 160px;
}
