.page-actions {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 10px auto;
}

.filter-bar {
  background-color: lightgray;
  width: 60%;
  padding: 20px;
}

header {
  margin-bottom: 20px;
}

.equipment-cards-container {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.equipment-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
