header {
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.section-container {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 20px auto;
}

.sections {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.details-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

h4 {
  margin: 0;
}

.tag {
  background-color: lightblue;
  padding: 10px;
  border-radius: 20px;
}

.description {
  margin-top: 20px;
}

.page-section {
  border: solid black 1px;
  padding: 20px;
  border-radius: 20px;
  width: 300px;
}

.all-btns-container {
  width: 300px;
  margin: 0 auto;
}

.edit-btns {
  width: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.remove-btns {
  display: flex;
  justify-content: space-between;
}

.btn {
  margin: 10px;
}
