.form-fieldset {
  width: 400px;
  border: none;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.element-label {
  padding: 20px;
}

.form-textarea {
  font: inherit;
}

.checkbox-item {
  width: 150px;
  margin: 10px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: start;
}

.checkbox {
  margin-right: 8px;
}

.checkbox-input {
  width: 15px;
  height: 15px;
}

.checkbox-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.input-container,
.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
